<h1>Productos</h1>
<article>
    <button id="add-button">Agregar producto</button>
    <table>
        <tr>
            <th>Titulo</th>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Codigo</th>
            <th>Stock</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.category}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td><button class="detail-button" data-pid="{{this._id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                        <path
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                    </svg></button></td>
        </tr>
        {{/each}}
    </table>
</article>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script type="module" src="js/products.public.js"></script>
