<ul>
    <a href="/products" role="button"><li style="display: inline-block"><svg xmlns="http://www.w3.org/2000/svg" width="36"
                height="36" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path
                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
            </svg></li></a>
    <a href="/carts/{{cid}}"><li style="display: inline-block; float: right"><button id="cart-button"><svg xmlns="http://www.w3.org/2000/svg"
                width="36" height="36" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
            </svg></button></li></a>
</ul>

<article>
    <header>Perfil de usuario:</header>
    <ul>
        <li>Nombre: {{user.first_name}}</li>
        <li>Apellido: {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>
        <li>Edad: {{user.age}}</li>
    </ul>
</article>
<button id="update-profile-button">Actualizar datos</button>
<button id="delete-profile-button">Eliminar usuario</button>
</article>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
{{!-- <script type="module" src="/js/productDetail.public.js"></script> --}}